Repository upstage-org/limelight, pull requests merged in 2018-04, with the labels that each got.

#317 Issue #254
  app/views/announcements/show.html.erb
  app/views/avatars/edit.html.erb
  app/views/avatars/index.html.erb
  app/views/backdrops/edit.html.erb
  app/views/backdrops/index.html.erb
  app/views/media/_panel.html.erb
  app/views/media/_table.html.erb
  app/views/roles/index.html.erb
  app/views/roles/show.html.erb
  app/views/sounds/edit.html.erb
  app/views/sounds/index.html.erb
  app/views/stages/index.html.erb
  app/views/stages/show.html.erb
  app/views/tags/index.html.erb
  app/views/tags/show.html.erb
  app/views/users/index.html.erb
  app/views/users/show.html.erb
Labels: audio, avatars, backdrops, enhancement, props, stages

#318 Issue#205
  app/assets/javascripts/channels/theatre.coffee
  app/assets/javascripts/theatre.coffee
  app/channels/chat_channel.rb
  app/views/messages/_message.html.erb
  app/views/theatre/performance.html.erb
  db/migrate/20180403235530_add_nickname_to_messages.rb
  db/schema.rb
Labels: avatars, enhancement

#321 Issue#304
  app/assets/javascripts/channels/avatars.coffee
  app/assets/javascripts/theatre.coffee
  app/views/theatre/performance.html.erb
Labels: avatars, enhancement

#320 R5-2018
  .ruby-version
  Gemfile
  Gemfile.lock
  app/assets/javascripts/channels/theatre.coffee
  app/assets/javascripts/sorttable.js
  app/assets/javascripts/theatre.coffee
  app/channels/chat_channel.rb
  app/models/avatar_tag.rb
  app/views/announcements/show.html.erb
  app/views/avatars/edit.html.erb
  app/views/avatars/index.html.erb
  app/views/backdrops/edit.html.erb
  app/views/backdrops/index.html.erb
  app/views/media/_panel.html.erb
  app/views/media/_table.html.erb
  app/views/messages/_message.html.erb
  app/views/roles/index.html.erb
  app/views/roles/show.html.erb
  app/views/sounds/edit.html.erb
  app/views/sounds/index.html.erb
  app/views/stages/index.html.erb
  app/views/stages/show.html.erb
  app/views/tags/index.html.erb
  app/views/tags/show.html.erb
  app/views/theatre/performance.html.erb
  app/views/users/index.html.erb
  app/views/users/show.html.erb
  db/migrate/20180403235530_add_nickname_to_messages.rb
  db/schema.rb
Labels: release

#329 Amend Issue #166
  app/controllers/messages_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/announcements/_announcement.html.erb
  app/views/announcements/_form.html.erb
  app/views/announcements/show.html.erb
  app/views/messages/_message.html.erb
  app/views/sessions/new.html.erb
  app/views/stages/_form.html.erb
  app/views/subscriptions_mailer/make_announcement.html.erb
  app/views/theatre/_announcement.html.erb
  app/views/theatre/performance.html.erb
  app/views/users/_form.html.erb
  app/views/users/edit.html.erb
  app/views/users/index.html.erb
  app/views/users/show.html.erb
  db/migrate/20180417231338_change_user_nickname_to_username.rb
  db/migrate/20180417234942_force_lowercase_usernames.rb
  db/schema.rb
  db/seeds.rb
  spec/controllers/backdrops_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
Labels: bug, enhancement, users
